    hr 
        {border-style:none;
        border-top-style: dotted;
        border-color: black;
        border-width: 10px;
        width: 15%; }
    img 
        { height: 150px;}
    h1 
        {color: #66bfbf;}
    h2 
        {color: #66bfbf;}
    h3 
        {color:#66bfbf}